{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <title>Pizzaria in Deliciis</title>
</head>
<body style="background-color: #EDEDED;">
 
 <!-- HEADER -->
<nav class="navbar navbar-expand-lg" id="nav" style="background-color: #FFBF00">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color: white">
            <img src="{%static 'img/Pizzaria(1).png' %}" alt="" width="120" height="40" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><img src="{%static 'img/justify_142317.png' %}" class="img-thumbnail" alt="..."></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item d-flex align-items-center">
                    <i class="fa-solid fa-user fa-lg" style="color: white; margin-right: 10px;"></i>
                    <a class="nav-link active" aria-current="page" href="#" style="color: white">Samuel Araújo</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


      <!-- MAIN -->
      <div class="accordion" id="accordionPanelsStayOpenExample" style="margin-top: 30px; margin-bottom: 30px;">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
              Dados diários
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body" style="display: grid; gap: 10px;  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));">
                <div class="card" style="width: 18rem; display: flex; flex-direction: column; align-items: center; justify-content: center;" >
                    <h1>2</h1>
                    <div class="card-body">
                      <h5 class="card-title">Vendas feitas hoje</h5>
                    </div>
                  </div>

                  <div class="card" style="width: 18rem; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h1>2</h1>
                    <div class="card-body">
                      <h5 class="card-title">Lucro obtido hoje</h5>
                    </div>
                  </div>

                  <div class="card" style="width: 18rem; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h1><a href="#" style="color: #1D2F4E"><i class="fa-solid fa-rotate-right"></i></a></h1>
                    <div class="card-body">
                      <h5 class="card-title">Recomeçar contagem</h5>
                    </div>
                  </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Dados Gerais
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body" style="display: grid; gap: 10px;  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));">
                <div class="card" style="width: 18rem; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h1>1233</h1>
                    <div class="card-body">
                      <h5 class="card-title">Vendas feitas desde sempre</h5>
                    </div>
                  </div>

                  <div class="card" style="width: 18rem; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h1>2</h1>
                    <div class="card-body">
                      <h5 class="card-title">Lucro obtido desde sempre</h5>
                    </div>
                  </div>

                  <div class="card" style="width: 18rem; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h1>23</h1>
                    <div class="card-body">
                      <h5 class="card-title">Total de sabores</h5>
                    </div>
                  </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              Funções
            </button>
          </h2>

          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body" >
                <button type="button" class="btn btn-primary btn-lg add-sabor" id="botao2">Criar sabor</button>

                <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert-criar" style="display: none;">
                  <strong>Digite o nome:</strong> 
                  <div class="input-group input-group-sm mb-3">
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                  </div>

                  <strong>Selecione uma imagem:</strong>
                  <div class="input-group">
                    <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                  </div>

                  <strong>Digite o valor:</strong> 
                  <div class="input-group input-group-sm mb-3">
                    <p>Tamanho pequeno: </p>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                  </div>
                  <div class="input-group input-group-sm mb-3">
                    <p>Tamanho médio: </p>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                  </div>
                  <div class="input-group input-group-sm mb-3">
                    <p>Tamanho grande: </p>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                  </div>
        

                  <button type="button" class="btn btn-primary" data-bs-dismiss="alert" aria-label="Close" style="border-width: 1px;">Adicionar</button>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="alert" aria-label="Close" style="border-width: 1px;">Cancelar</button>

                </div>

                <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert-excluir" style="display: none">
                  <strong>Tem certeza</strong> que deseja excluir?
                  <button type="button"  class="btn btn-primary" data-bs-dismiss="alert" aria-label="Close">Sim</button>
                  <button type="button"  class="btn btn-primary" data-bs-dismiss="alert" aria-label="Close">Não</button>
                </div>
      
                <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert-editar" style="display: none;">
                  <strong>Digite o novo nome:</strong> 
                  <div class="input-group input-group-sm mb-3">
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                  </div>

                  <strong>Selecione uma nova imagem:</strong>
                  <div class="input-group">
                    <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                  </div>

                  <strong>Digite um novo valor:</strong> 
                  <div class="input-group input-group-sm mb-3">
                    <p>Tamanho pequeno: </p>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                  </div>
                  <div class="input-group input-group-sm mb-3">
                    <p>Tamanho médio: </p>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                  </div>
                  <div class="input-group input-group-sm mb-3">
                    <p>Tamanho grande: </p>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                  </div>
        

                  <button type="button" class="btn btn-primary" data-bs-dismiss="alert" aria-label="Close" style="border-width: 1px;">Salvar</button>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="alert" aria-label="Close" style="border-width: 1px;">Cancelar</button>

                </div>
                
                <div class=".container" style="display: grid; gap: 10px;  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));">

                  
                  <div class="card" style="width: 18rem; margin-top: 20px; margin-bottom: 20px; background-color: white; border-color: gray; border-width: 1px; border-radius: 5px;">
                    <img src="istockphoto-1421607041-1024x1024.jpg" class="card-img-top" alt="...">
                    <div class="card-body" style="align-items: center; justify-content: center; display: flex; flex-direction: column;">
                      <h5 class="card-title" style="margin-left: 7px; margin-right: 7px;">Quatro queijos</h5>
                      <h6 class="card-text"> <a href="#" class="btn btn-primary editar-sabor" style="background-color: green; border: none;">Editar sabor</a> </h6>
                      <h6 class="card-text"> <a href="#" class="btn btn-primary excluir-sabor" style="background-color: red; border: none;">Excluir sabor</a> </h6>

                    </div>
                  </div>

                  <div class="card" style="width: 18rem; margin-top: 20px; margin-bottom: 20px; background-color: white; border-color: gray; border-width: 1px; border-radius: 5px;">
                    <img src="{%static 'img/istockphoto-1421607041-1024x1024.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body" style="align-items: center; justify-content: center; display: flex; flex-direction: column;">
                      <h5 class="card-title" style="margin-left: 7px; margin-right: 7px;">Quatro queijos</h5>
                      <h6 class="card-text"> <a href="#" class="btn btn-primary editar-sabor" style="background-color: green; border: none;">Editar sabor</a> </h6>
                      <h6 class="card-text"> <a href="#" class="btn btn-primary excluir-sabor" style="background-color: red; border: none;">Excluir sabor</a> </h6>

                    </div>
                  </div>
        
                </div>
                
            </div>
          </div>
        </div>
      </div>

      <!-- FOOTER -->
      <footer class="bg-dark text-white text-center text-lg-start">
        <div class="container p-4">
           
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Sobre nós</h5>
                    <p>
                        Estudantes de Análise e Desenvolvimento de Sistemas do Instituto Federal Baiano
                    </p>
                </div>
                
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links úteis</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://www.linkedin.com/in/rodrigo-costa-411038255/" target="_blank" class="text-white">Linkedin de Rodrigo</a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/samuel-ara%C3%BAjo-silveira-b205711a4/" target="_blank" class="text-white">Linkedin de Samuel</a>
                        </li>
                    </ul>
                </div>
                
                <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Contato</h5>
                    <ul class="list-unstyled">
                        <li>
                            <p>
                              <i class="fas fa-envelope me-3"></i> rodrigo321.costa@gmail.com
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fas fa-envelope me-3"></i> samuel.silveira2001@gmail.com
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 Rodrigo Costa Neves e Samuel Araújo Silveira
        </div>
    </footer>

    <script src="{%static 'js/admin.js' %}"></script>
    <script src="https://kit.fontawesome.com/bfe249254a.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>