{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/meuspedidos.css' %}">
  <link rel="icon" href="{% static 'img/pizza.png' %}" type="image/png">
  <title>Meus Pedidos</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg" id="nav" style="background-color: #FFBF00">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'lista' %}" style="color: white">
        <img src="{% static 'img/Pizzaria(1).png' %}" alt="" width="120" height="40" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><img src="{% static 'img/justify_142317.png' %}" class="img-thumbnail" alt="..."></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div id="cart">
          <a href="{% url 'usernavpage' %}" style="color: white; text-decoration: none;">
            <i class="fa-solid fa-backward"> VOLTAR</i>
          </a>
        </div>

        <ul class="navbar-nav ms-auto">
          <li class="nav-item" id="logo">
            <a class="navbar-brand" href="#">
              <i class="fa-solid fa-user fa-lg" style="color: white; margin-top: 20px;"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color: white">{{user.nome}}</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid" id="section">
    <h1 style="margin-bottom: 4%;"><i class="fa-regular fa-clipboard"></i>  Meus Pedidos</h1>


    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col"><i class="fa-regular fa-clock"></i> Data</th>
          <th scope="col"><i class="fa-solid fa-dollar-sign"></i>  Valor Total</th>
          <th scope="col"><i class="fa-solid fa-spinner"></i>  Status</th>
          <th scope="col"><i class="fa-solid fa-money-check-dollar"></i> Tipo de Pagamento</th>
        </tr>
      </thead>
      <tbody>
        {% if pedidos %}
          {% for pedido in pedidos %}
            <tr>
              <th scope="row">{{pedido.data_pedido}}</th>
              <td>{{pedido.valorTotal}}</td>
              <td>{{pedido.status}}</td>
              <td>{{pedido.tipo_pagamento}}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <th scope="row">Nenhum Produto Registrado</th>
          </tr>     
        {% endif %}
      </tbody>
    </table>

  </div>

  <footer class="bg-dark text-white text-center text-lg-start">
    <div class="container p-4">

      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Sobre nós</h5>
          <p>
            Estudantes de Análise e Desenvolvimento de Sistemas do Instituto Federal Baiano
          </p>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links úteis</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.linkedin.com/in/rodrigo-costa-411038255/" target="_blank" class="text-white">Linkedin
                de Rodrigo</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/samuel-ara%C3%BAjo-silveira-b205711a4/" target="_blank"
                class="text-white">Linkedin de Samuel</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contato</h5>
          <ul class="list-unstyled">
            <li>
              <p>
                <i class="fas fa-envelope me-3"></i> rodrigo321.costa@gmail.com
              </p>
            </li>
            <li>
              <p>
                <i class="fas fa-envelope me-3"></i> samuel.silveira2001@gmail.com
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Rodrigo Costa Neves e Samuel Araújo Silveira
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://kit.fontawesome.com/bfe249254a.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</body>

</html>
