{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/pizza.png' %}" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <title>Área Administrativa</title>
</head>

<body style="background-color: #EDEDED;">

 <!-- HEADER -->
<nav class="navbar navbar-expand-lg" id="nav" style="background-color: #FFBF00">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'admin' %}" style="color: white">
            <img src="{%static 'img/Pizzaria(1).png' %}" alt="" width="120" height="40" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><img src="{%static 'img/justify_142317.png' %}" class="img-thumbnail" alt="..."></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item d-flex align-items-center">
                    <i class="fa-solid fa-user fa-lg" style="color: white; margin-right: 10px;"></i>
                    <a class="nav-link active" aria-current="page" href="#" style="color: white">{{user.nome}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

      <!-- MAIN -->
      <div class="accordion" id="accordionPanelsStayOpenExample" style="margin-top: 30px; margin-bottom: 30px;">
        <div id="header"><i class="fa-solid fa-user-tie" style="margin-right: 2%;"></i>  Área Administrativa</div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne" id="titulo-tag">
              Dados Diários <i style="margin-left: 1%;" class="fa-solid fa-calendar-day"></i>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body" style="display: grid; gap: 10px;  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));">
                <div class="card" style="width: 18rem; display: flex; flex-direction: column; align-items: center; justify-content: center;" >
                    <h1>{{ caixa.vendas_diarias }}</h1>
                    <div class="card-body">
                      <h5 class="card-title">Vendas feitas hoje</h5>
                    </div>
                  </div>

                  <div class="card" style="width: 18rem; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h1>{{ caixa.lucro_diario }} R$</h1>
                    <div class="card-body">
                      <h5 class="card-title">Lucro obtido hoje</h5>
                    </div>
                  </div>

                  <div class="card" style="width: 18rem; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h1><a href="{% url 'zerarcaixadiario' %}" style="color: #1D2F4E"><i class="fa-solid fa-rotate-right"></i></a></h1>
                    <div class="card-body">
                      <h5 class="card-title">Recomeçar contagem</h5>
                    </div>
                  </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo"  id="titulo-tag">
              Dados Gerais <i style="margin-left: 1%;" class="fa-regular fa-calendar-days"></i>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body" style="display: grid; gap: 10px;  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));">
                <div class="card" style="width: 18rem; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h1>{{ caixa.vendas_totais }}</h1>
                    <div class="card-body">
                      <h5 class="card-title">Vendas feitas desde sempre</h5>
                    </div>
                  </div>

                  <div class="card" style="width: 18rem; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h1>{{ caixa.lucro_total }} R$</h1>
                    <div class="card-body">
                      <h5 class="card-title">Lucro obtido desde sempre</h5>
                    </div>
                  </div>

                  <div class="card" style="width: 18rem; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <h1>{{pizzas.count}}</h1>
                    <div class="card-body">
                      <h5 class="card-title">Total de sabores</h5>
                    </div>
                  </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree"  id="titulo-tag">
              Funções <i style="margin-left: 1%;" class="fa-solid fa-gears"></i>
            </button>
          </h2>

          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body" >
                <button type="button" class="btn btn-primary btn-lg add-sabor" id="botao2">Criar sabor  <i class="fa-solid fa-pizza-slice" style="color: #ffffff;"></i></button>
                <a href="{% url 'listarpedidos' %}" class="btn btn-primary btn-lg add-sabor" id="botao2">Ver Pedidos  <i class="fa-solid fa-arrow-up-wide-short" style="color: #ffffff;"></i></a>
                <a href="{% url 'listarclientes' %}" class="btn btn-primary btn-lg add-sabor" id="botao2">Ver Clientes  <i class="fa-solid fa-users" style="color: #ffffff;"></i></a>
                <a href="{% url 'logout' %}" style="background-color: red;" class="btn btn-primary btn-lg add-sabor" id="botao2">Sair  <i class="fa-solid fa-door-open" style="color: #ffffff;"></i></a>
               <form action="{% url 'criarPizza' %}" method="POST" id="criarPizza" enctype="multipart/form-data" style="margin-top: 15px; background-color: #CFE2FF; border-width: 20px; border-color:#CFE2FF; border-style:solid; display: none ">
                <p style="color: red"> Todos os campos são obrigatórios! </p>
                  {% csrf_token %}
                  {{form.as_p}}
                  <div style="margin-top: 15px">
                    <input type="submit" value="Salvar">
                    <input type="button" value="Cancelar" id="cancelarButton">
                  </div>
               </form>

               <!-- <form action="editar" method="POST" id="editarPizza" style="margin-top: 15px; background-color: #E0CFFC; border-width: 20px; border-color:#CFE2FF; border-style:solid ">
                  {% csrf_token %}
                  {{form.as_table}}
                  <input type="submit" value="Salvar">
                  <input type="submit" value="Cancelar">
               </form> -->
                
                <div class=".container" style="display: grid; gap: 10px;  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));">
                  {% for pizza in pizzas %}
                  
                  <div class="card" style="width: 18rem; margin-top: 20px; margin-bottom: 20px; background-color: white; border-color: gray; border-width: 1px; border-radius: 5px;">
                    <img src="{{ pizza.imagem.url }}" class="card-img-top" alt="...">
                    <div class="card-body" style="align-items: center; justify-content: center; display: flex; flex-direction: column;">
                      <h5 class="card-title" style="margin-left: 7px; margin-right: 7px;">{{pizza.sabor}}</h5>
                      <h5 class="card-title" style="margin-left: 7px; margin-right: 7px;">{{pizza.tamanho}}</h5>
                      <h6 class="card-text"> <a href="{% url 'editarPizza' pizza.id %}" class="btn btn-primary editar-sabor" style="background-color: green; border: none;">Editar sabor</a> </h6>
                      <h6 class="card-text deletar"> <a class="btn btn-primary excluir-sabor" href="{% url 'deletarPizza' pizza.id %}" id="deletar" style="background-color: red; border: none;">Excluir sabor</a> </h6>
                     
                    </div>
                  </div>
                  {% endfor %}
                </div>
                
            </div>
          </div>
        </div>
      </div>

      <!-- FOOTER -->
      <footer class="bg-dark text-white text-center text-lg-start">
        <div class="container p-4">
           
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Sobre nós</h5>
                    <p>
                        Estudantes de Análise e Desenvolvimento de Sistemas do Instituto Federal Baiano
                    </p>
                </div>
                
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links úteis</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://www.linkedin.com/in/rodrigo-costa-411038255/" target="_blank" class="text-white">Linkedin de Rodrigo</a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/samuel-ara%C3%BAjo-silveira-b205711a4/" target="_blank" class="text-white">Linkedin de Samuel</a>
                        </li>
                    </ul>
                </div>
                
                <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Contato</h5>
                    <ul class="list-unstyled">
                        <li>
                            <p>
                              <i class="fas fa-envelope me-3"></i> rodrigo321.costa@gmail.com
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fas fa-envelope me-3"></i> samuel.silveira2001@gmail.com
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 Rodrigo Costa Neves e Samuel Araújo Silveira
        </div>
    </footer>

    <script src="{%static 'js/admin.js' %}"></script>
    <script src="https://kit.fontawesome.com/bfe249254a.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>